header{
    background-color: coral;
    color: whitesmoke;
    text-align: center;
}

footer{
    background-color: red;
    color: whitesmoke;
    text-align: center;
}

.texto1{
    text-align: right;
}

.parrafo1{
    text-align: right;
}

.caballo{
    width: 700px;
    text-align: right;
}

.parrafo45{
    width: 800px;
    text-align: right;
}

.abcd{
    width: 1500px;
    text-align: right;
}


body{
    background-image: url(fotos/fondo2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}